.header {
    margin: 71px 0 92px 0;
}

.header_list {
    list-style: none;
    display: flex;
    width: 555px;
    outline: 2px solid $grey_header_color;
    margin: auto;
    
    .header_item {
      font-family: $playfair-font-family;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0 99px 0 0;

      .header_link {
        text-decoration: none;
        color: $grey_header_color;
        &:hover {
          color: $header-accent-color;
        }
      }
      
      .active {
          color: $header-accent-color;
      }
  
      .text-shadow-pop-br {
          &:hover {
              animation: text-shadow-pop-br 0.6s both;
          }
      }
    }
}

@keyframes text-shadow-pop-br {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555,
        0 0 #555555, 0 0 #555555, 0 0 #555555;
      transform: translateX(0) translateY(0);
    }
    100% {
      text-shadow: 1px 1px #313030, 2px 2px #313030, 3px 3px #313030,
        4px 4px #313030, 5px 5px #313030, 6px 6px #313030, 7px 7px #313030,
        7px 7px #313030;
      transform: translateX(-5px) translateY(-5px);
    }
  }
