$header-accent-color: #03a9f4;
$grey_header_color: #7d7d7d;
$span_title_color: #b4ad9e;
$common_txt_color: #626262;

$playfair-font-family: "Playfair Display", serif;
$ubuntu-font-family: "Ubuntu", sans-serif;